input {
  position: fixed;
  margin-left: 40%;
  top: 0%;
  width: 20%;
  height: 5%;
  padding-left: 4%;
  border-radius: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  

}


